@import '../../scss/variables';

.title{
    font-size: 50px;
    font-weight: 800;

    &-nft{
        text-align: center;
        font-size: 90px;
        font-weight: 800;
        text-shadow: 0 0 3px #fff;
    }
}

.span-large{
    display: block;
    font-size: 22px;
    line-height: 30px;
    margin: 20px 0 10px;
    text-align: justify ;
}

.shoe{
    position: relative;

    &-bg{
        position: absolute;
        top: calc(50% - 150px);
        left: calc(50% - 150px);
        width: 300px;
        height: 300px;
        border-radius: 50%;
        animation: ball-breathing 2s infinite alternate;
    }

    &-img{
        height:100%;
        display: flex;
        align-items: center;
        
        img{
            z-index: 1;
            width: 100%;
            height: auto;
            background-color: transparent;
            transition: all 0.5s ease-in-out;
            animation: up-and-down 2s infinite alternate;
        }
    }
}

.slider{
    display: flex;
    height: 600px;

    &-img{
        flex: 1;

        img{
            height: 100%;
            width: auto;
        }
    }

    &-detail{
        width: 40%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        margin-top: 50px;
        
        &-controls{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            z-index: 2;

            .controls-left{
                margin-right: 10px;
            }

            i{
                font-size: 30px;
                transition: all 0.5s ease-in-out;
            }

            i.active{
                font-size: 40px;
            }

            i:hover{
                cursor: pointer;
                color: $primary-orange;
            }
        }

        &-text{
            font-size: 38px;
            font-weight: 700;
            position: relative;
            background-color: transparent;
            z-index: 2;

            &-line{
                position: absolute;
                height: 100px;
                width: auto;
                top: 50%;
                left: -55%;
                background-color: transparent;

                &.lace{
                    height: 208px;
                    width: auto;
                    top: 40%;
                }

                &.middle{
                    height: 223px;
                    width: 425px;
                    top: 14%;
                    left: -104%;
                }

                &.heel{
                    height: 240px;
                    width: 577px;
                    top: -1%;
                    left: -139%;
                }

                &.toe{
                    height: 277px;
                    width: auto;
                    top: 28%;
                    left: -35%;
                }

                &.tongue{
                    height: 125px;
                    width: auto;
                    top: 21%;
                    left: -99%;
                }

                &.sole{
                    height: 325px;
                    width: auto;
                    top: 31%;
                    left: -55%;
                }
            }

            &-num{
                position: absolute;
                top: -130px;
                left: 0;
                height: 200px;
                width: 200px;
                font-size: 140px;
                background-color: transparent;
                z-index: -1;
            }
        }

        &-pattern{
            width: 64%;
            position: relative;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 140px;
            transition: all 0.5s ease-in-out;


            img{
                width: 88%;
                height: auto;
            }

            .pattern-border{
                position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%);
                -webkit-transition: all 2s ease-in-out;
                -o-transition: all 2s ease-in-out;
                transition: all 2s ease-in-out;
                background-color: transparent;
                -webkit-animation: rotate 10s infinite;
                animation: rotate 10s infinite;
            }
        }
    }
}

.paragraph{
    display: block;
    margin: 64px 0;
    padding: 0 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 41px;
    text-align: center;
}

.about,
.mission,
.vision{
    height: 600px;
    display: flex;
    align-items: center;
}

.about,
.mission{
    background-image: url('../../../public/images/Artboard 4202.png');
    background-size: cover;
}

.roadmap .container .col-xl-12:last-child{
    background-image: url('../../../public/images/Artboard 4002.png');
    background-size: contain;
}



.vision{
    background-color: $primary-light-blue;
}

.mission{
    height: 800px;
}

.member{
    background-color: $primary-light-blue;
    border-radius: 30px;
    padding: 15px 20px;
    text-align: center;
    height: 361px;
    transition: all 0.5s ease-in-out;

    &:hover{
        cursor: pointer;
        transform: scale(1.09); 
    }

    &-name{
        font-size: 16px;
        font-weight: 500;
        margin: 10px 0 5px;
    }

    &-position{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
        color: $primary-orange;
    }

    &-desc{
        font-size: 12px;
        margin-bottom: 10px;
    }
}

.backer{
    padding: 40px 0 80px;

    &-outline{
        height: 200px;
        width: 100%;
        border: 2px solid $primary-orange;
        border-radius: 18px;
        padding: 10px;
        margin-top: 40px;
        box-shadow: 0 0 3px $primary-orange, 0 0 5px $primary-orange, 0 0 20px $primary-orange, 0 0 4px $primary-orange;
        background-color: #3E2237;
        transition: all 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 100%;
            height: auto;
        }

        &:hover{
            cursor: pointer;
            transform: scale(1.005);
            box-shadow: 0 0 3px $primary-orange, 0 0 5px $primary-orange, 0 0 20px $primary-orange, 0 0 20px $primary-orange;
        }
    }
}


.slider-num{
    overflow: hidden;
    // width: 88%;
    height: auto;
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-wrapper{
        height: 100% !important;
    }

    .swiper-slide {
        font-size: 18px;
        background: $primary-blue;

        height: 200px !important;
        width: 200px !important;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 90%;
        height: auto;
        object-fit: cover;
        // border-radius: 50%;
    }
}