.shoecart{
    margin: 20px 0;
    position: relative;

    &-content{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-img{
            width: 80%;
            margin-top: 40px;
            position: relative;

            &-bg{
                position: absolute;
                top: 0;
                left: 0;
                height: 100px;
                width: 100px;
                background-color: #fff;
                z-index: 0;
            }
        }
    }
}