// color
// $primary-blue: #0F103B;
$primary-blue: #0c205c;
$primary-light-blue: #152056;
$primary-orange: #EF6421;
$primary-light-orange: RGBA(239,100,33,0.2);
$primary-green : #0FFFAB;
$primary-yellow : #ECB935;

$white: #fff;
$black: #000;

// px
$border-radius : 15px;